# Yuklenen dosyalarda script calistirmayi engelle (guvenlik)
<IfModule mod_php.c>
    php_flag engine off
</IfModule>
<FilesMatch "\.(php|phtml|php3|php4|php5|pl|py|cgi|sh)$">
    Require all denied
</FilesMatch>
